@import "tailwindcss";

@theme {
  --color-primary: #F84464;
  --color-dark: #1F2533;
  --color-grayLight: #F5F5F5;
  --font-sans: 'Inter', 'Roboto', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-grayLight);
    color: var(--color-dark);
    font-family: var(--font-sans);
  }
}
